.Homepage-heading{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;

}
.homepage-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Homepage{
    display: flex;
    align-items:center;
    justify-content: center;
    height:93vh;
    padding: 40px 20px;
    background-color: #f5f5f5;
}
.homepage-image{
    width: 700px;
    height: auto;
}
.homepage-title{
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.text-container{
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    
}
.image-container{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}